@import '../../styles/includes';

/** Variables */

/* the maximum dropdown before a scrollbar is required */
$menu-max-height: 300px;

/* the height of each item/row */
$menu-item-height: 40px;

/* padding at the top and bottom of each group of items */
$menu-group-padding: 4px;

/* the padding of each item (either side of the text ) */
$menu-item-padding: 12px;

.kui-dropdown {
  position: relative;

  display: inline-block;
  box-sizing: border-box;

  @mixin themed color, text;

  border: 1px solid rgba(0, 0, 0, 0.12);

  @mixin themed border-color, menu, wrapper;

  &:hover {
    &:not(.kui-dropdown--open) {
      @extend %shadow-light--hover;
    }
  }

  &.kui-theme--dark {
    @extend %shadow-dark;

    &:hover {
      @extend %shadow-dark--hover;
    }
  }
}

.kui-dropdown--open {
  position: relative;

  z-index: 9;
}

.kui-dropdown__label {
  position: relative;
  z-index: 8;

  display: flex;
  width: 100%;
  align-items: center;
  height: $menu-item-height;
  padding: 0 $menu-item-padding;
  overflow: hidden;
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: 3px solid transparent;

  @extend %type--subhead-2;

  line-height: 1.25em;

  @mixin themedParent background, menu, default;
  @mixin themedParent color, text;

  cursor: pointer;
  user-select: none;

  &:focus {
    @mixin themedParent outline-color, menu, hover;
  }

  > .kui-icon {
    position: absolute;
    right: 0;

    margin: 0 8px 0 12px;

    opacity: 0.5;

    transition: transform 0.2s;
    transform: rotate(180deg); /* chevron pointing up */

    .kui-dropdown--open & {
      transform: rotate(0deg); /* chevron pointing down */
    }
  }
}

.kui-dropdown__options {
  @extend %shadow-light--active;

  @mixin themedParent border-top-color, menu, border;
  @mixin themedParent background, menu, default;

  position: absolute;

  display: none;
  width: 100%;
  max-height: $menu-max-height;
  overflow: auto;
  margin: 0;

  border-style: solid;
  border-width: 1px 0 0;
  animation: dropdownEntrance 0.3s;

  .kui-dropdown--open & {
    display: block;
  }

  > section {
    position: relative;

    display: block;
    width: 100%;
    padding: $menu-group-padding 0;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;

      display: block;
      width: 100%;
      height: 1px;

      content: '';

      @mixin themedParent background, menu, border;
    }

    &:last-child::after {
      display: none;
    }

    > span {
      display: flex;
      align-items: center;

      height: $menu-item-height;
      padding: 0 $menu-item-padding;
      text-transform: uppercase;

      line-height: 1.43;

      @mixin themedParent color, text, secondary;

      @extend %type--body-1;
      @extend %type--semibold;
    }
  }
}

@keyframes dropdownEntrance {
  0% {
    opacity: 0.5;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
