/** Imports **/

@import '../../styles/includes';

/** Variables **/

$size-spacing: 22px;
$size-spacing-top: 23px;
$size-icon: 24px;
$size-inner-spacing: 8px;

$color-btn-focus: rgba(255, 255, 255, 0.2);

/** Implementation **/

.kui-notification__header {
  @extend %type--semibold;
  @extend %type--subhead-2;

  @mixin themedParent color, notifications, headerLabel;
}

.kui-notification__label {
  @extend %type--subhead-2;

  @mixin themedParent color, notifications, label;
}

.kui-notification {
  @mixin themed background, notifications, background;

  position: relative;

  display: flex;

  width: 100%;

  padding: $size-spacing-top calc(($size-spacing * 2) + $size-icon) $size-spacing $size-spacing;

  &.kui-theme--dark {
    @extend %shadow-dark--notification;
  }

  &.kui-theme--light {
    @extend %shadow-light--notification;
  }

  &:focus {
    outline: 0;
  }
}

.kui-notification__content {
  display: flex;

  .kui-notification--inline & {
    flex-direction: row;

    .kui-notification__label {
      margin-left: $size-inner-spacing;
    }
  }

  .kui-notification--multiline & {
    flex-direction: column;

    .kui-notification__header {
      margin-bottom: $size-inner-spacing;
    }
  }
}

.kui-icon {
  flex-shrink: 0;

  .kui-notification & {
    opacity: 0.55;

    margin-right: $size-spacing;
  }

  &.kui-icon--close {
    margin-right: 0;
  }
}

.kui-notification__closebtn {
  position: absolute;

  top: $size-spacing;
  right: $size-spacing;

  width: $size-icon;
  height: $size-icon;

  margin-right: 0;
  padding: 0;

  border: none;

  font-size: 0;
  line-height: 1;

  background: transparent;

  &:hover {
    cursor: pointer;

    .kui-icon--close {
      opacity: 1;
    }
  }

  &:focus {
    background: $color-btn-focus;

    outline: none;

    .kui-icon--close {
      opacity: 1;
    }
  }
}
