/** Variables **/

$size-spacing: 20px;

/** Implementation **/

.kui-notification-list {
  position: fixed;

  top: $size-spacing;
  left: 50%;

  z-index: 999;

  transform: translate(-50%, 0);

  .kui-notification {
    margin-bottom: $size-spacing;
  }
}

.kui-notification-animation-enter {
  opacity: 0;
}

.kui-notification-animation-enter.kui-notification-animation-enter-active {
  opacity: 1;

  transition: all 500ms;
}

.kui-notification-animation-exit {
  opacity: 1;
}

.kui-notification-animation-exit.kui-notification-animation-exit-active {
  opacity: 0;

  transition: all 300ms ease-in;
}
