.qb-data-summary {
  display: flex;
  flex-direction: column;
  color: white;

  h3 {
    line-height: 1.3;
    font-size: 20px;
  }
}

.qb-data-summary-item {
  display: flex;
  justify-content: space-between;

  > * {
    pointer-events: none;
  }

  width: 100%;
  padding: 7.5px 0;
}

.qb-data-summary-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.qb-data-summary-item--selected {
  background-color: rgb(19, 36, 49);
}

.qb-data-summary-item--deselected {
  opacity: 0.5;
}

.qb-data-summary-item > div {
  display: flex;
}

.qb-data-summary-item__value,
.qb-data-summary-item__title {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1;
}

.qb-data-summary-item__title {
  margin-left: 18px;

  .qb-data-summary-item--selected & {
    text-decoration: underline;
  }
}
