/** Imports **/

@import '../../styles/includes';

/** Variables **/

$default-input-width: 320px;
$padding-left-right: 11px;
$padding-top-bottom: 7px;
$offset-top-bottom-small: 4px;
$margin-top-line: 3px;
$height-tiny: 1px;

/** Implementation **/

.kui-input-wrapper {
  width: $default-input-width;
}

.kui-input {
  @mixin themed background-color, menu;

  display: flex;
  flex-direction: column;

  /** padding top can be overriden if label is generated (see below) **/
  padding: $padding-top-bottom $padding-left-right;

  border: $height-tiny solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;

  outline: none;

  &:focus {
    @extend %shadow-light--focus;
  }

  &:active {
    @extend %shadow-light--active;
  }

  .kui-theme--dark & {
    @extend %shadow-dark;

    &:hover {
      @extend %shadow-dark--hover;
    }
  }

  &:hover:not([disabled]) {
    @extend %shadow-light--hover;
  }

  &:active:not(&--disabled) {
    @mixin themedStart background-color, input, backgroundActive;
  }

  &--disabled {
    opacity: 0.5;

    cursor: not-allowed;
  }
}

.kui-input--focused {
  @extend %shadow-light--active;
}

.kui-input__field {
  @mixin themedParent color, text;

  @extend %type--family;
  @extend %type--regular;
  @extend %type--subhead-2;

  display: flex;

  padding: 0;

  border: none;

  background: transparent;
  outline: none;

  &,
  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
  }

  &::placeholder {
    @mixin themedParent color, input, placeholder;
  }

  .kui-input--focused &::placeholder {
    @mixin themedParent color, input, placeholderFocused;
  }

  /** more specific selector needs to be stated so the changes apply **/
  .kui-input.kui-input--disabled & {
    cursor: not-allowed;

    &::placeholder {
      @mixin themedParent color, input, placeholder;
    }
  }
}

.kui-input__label {
  @extend %type--body-1;

  @mixin themedParent color, text, secondary;

  display: flex;

  margin-bottom: $offset-top-bottom-small;

  .kui-input--disabled & {
    @mixin themedParent color, input, placeholder;
  }
}

.kui-input__line {
  display: flex;

  height: $height-tiny;
  margin-top: $margin-top-line;

  /** by default the background color is transparent; when in active/focus it is visible **/
  background-color: transparent;

  pointer-events: none;

  .kui-input__field:active + & {
    @mixin themedParent background-color, menu, border;
  }

  .kui-input__field:focus + &,
  .kui-input__field:active + & {
    @mixin themedParent background-color, menu, border;
  }

  .kui-input--disabled .kui-input__field:focus + &,
  .kui-input--disabled .kui-input__field:active + & {
    background-color: transparent;
  }

  /* stylelint-disable */

  .kui-input--success &,
  .kui-input--success .kui-input__field:focus + &,
  .kui-input--success .kui-input__field:active + & {
    @mixin themedParent background-color, input, success;
  }

  .kui-input--error &,
  .kui-input--error .kui-input__field:focus + &,
  .kui-input--error .kui-input__field:active + & {
    @mixin themedParent background-color, input, error;
  }

  /* stylelint-enable */
}

.kui-input__line--filled {
  @extend %type--family;
  @extend %type--regular;
  @extend %type--subhead-2;

  height: $height-tiny;

  overflow: hidden;
  white-space: pre;

  .kui-input--focused & {
    @mixin themedStart background-color, input, textFilled;
  }

  .kui-input--success & {
    @mixin themedStart background-color, input, success;
  }

  .kui-input--error & {
    @mixin themedStart background-color, input, error;
  }
}

.kui-input__description {
  display: flex;
  padding: 0;
}

.kui-input__description-content {
  @extend %type--family;
  @extend %type--regular;
  @extend %type--body-1;

  padding: $offset-top-bottom-small $padding-left-right;

  .kui-input--success + .kui-input__description & {
    @mixin themedStart color, input, status;
  }

  .kui-input--error + .kui-input__description & {
    @mixin themedStart color, input, status;
  }
}
