@import '../../../styles/includes';

.cbn-dropdown {
  position: relative;

  display: inline-block;

  @mixin themed background, menu, default;
  @mixin themed color, text;

  border: 1px solid rgba(0, 0, 0, 0.12);

  &:hover {
    &:not(.cbn-dropdown--open) {
      box-shadow: -2px 0 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    }
  }

  /* custom style overrides */
  &.cbn-theme--dark {
    border: none;
  }
}

.cbn-dropdown__label {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  height: $menu-item-height;
  padding: $menu-item-padding;
  overflow: hidden;

  @mixin themed background, menu, default;
  @mixin themed color, text;

  cursor: pointer;
  user-select: none;

  > .cbn-icon {
    position: absolute;
    right: 0;

    margin: $menu-item-padding;

    transition: transform 0.2s;
    transform: rotate(180deg); /* chevron pointing up */

    .cbn-dropdown--open & {
      transform: rotate(0deg); /* chevron pointing down */
    }
  }
}

.cbn-dropdown__options {
  position: absolute;
  z-index: 1;

  display: none;
  width: 100%;
  margin: 0;

  border-style: solid;
  border-width: 1px 0 0;

  @mixin themed border-top-color, menu, border;

  font-style: 16px;

  @mixin themed background, menu, default;

  animation: dropdownEntrance 0.3s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);

  /* custom style overrides */
  .cbn-theme--dark & {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24), inset 0 1px 0 0 rgba(255, 255, 255, 0.06);
  }

  .cbn-dropdown--open & {
    display: block;
  }

  > section {
    position: relative;

    display: block;
    width: 100%;
    padding: $menu-group-padding 0;

    &:last-child::after {
      display: none;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;

      display: block;
      width: 100%;
      height: 1px;

      content: '';

      background: red;
      @mixin themed background, menu, border;
    }

    > span {
      display: flex;
      align-items: center;

      height: $menu-item-height;
      padding: $menu-item-padding;
      text-transform: uppercase;

      line-height: 1.43;

      @mixin themed color, text, secondary;

      @extend %type--body-1;
      @extend %type--semibold;
    }
  }
}

@keyframes dropdownEntrance {
  0% {
    opacity: 0.5;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
