@import '../../../styles/includes';

.cbn-dropdown {
  position: relative;

  display: inline-block;
  border-radius: 2px;

  background: white;

  &.cbn-dropdown--open {
    border-radius: 2px 2px 0 0;
  }
}

.cbn-dropdown__label {

  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  height: $menu-item-height;
  padding: $menu-item-padding;
  border-radius: 2px;
  overflow: hidden;

  cursor: pointer;
  user-select: none;
  background: white;

  > .cbn-icon {
    position: absolute;
    right: 0;
    margin: $menu-item-padding;
    transition: transform 0.2s;
    transform: rotate(180deg); /* chevron pointing up */

    .cbn-dropdown--open & {
      transform: rotate(0deg); /* chevron pointing down */
    }
  }
}


.cbn-dropdown__options {
  position: absolute;
  z-index: 1;

  display: none;
  width: 100%;
  margin: 0;
  border-style: solid;
  border-width: 1px 0;
  border-color: rgba(255, 255, 255, 0.2);
  border-top-color: rgba(0, 0, 0, .12);
  border-image-slice: 1;
  border-radius: 0 0 2px 2px;

  font-style: 16px;

  background-color: white;

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);

  animation: dropdownEntrance .3s;

  .cbn-dropdown--open & {
    display: block;
  }

  > section {
    position: relative;

    display: block;
    width: 100%;
    padding: $menu-group-padding 0;
    border-bottom: rgba(0, 0, 0, 0.12);

    &:last-child::after {
      display: none;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;

      display: block;
      width: 100%;

      background-color: rgba(0, 0, 0, 0.12);
      content: '';
    }

    > span {
      display: flex;
      align-items: center;
      height: $menu-item-height;
      padding: $menu-item-padding;

      @extend %type--body-1;
      @extend %type--semibold;
      color: rgba(0, 0, 0, 0.38);
      line-height: 1.43;
      text-transform: uppercase;
    }
  }
}

@keyframes dropdownEntrance {
  0% {
    opacity: 0.5;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
