{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "inline-react-svg",
    "lodash"
  ],
  "env": {
    "AVA": {
      "plugins": [
        [
          {
            "config": "./webpack.ava.config.js",
            "verbose": true
          }
        ]
      ]
    }
  }
}
