.cbn-sg-playground__events {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;

  width: 80%;
  height: 100px;
}

.cbn-sg-playground__event {
  float: right;

  width: 80px;
  height: 80px;
}
