.cbn-sg-playground__events {
  position: absolute;
  top: 0;
  right: 0;

  width: 80%;
  height: 100px;
}

.cbn-sg-playground__event {
  float: right;

  width: 100px;
  height: 80px;
  margin: 10px;
}
