@import '../../styles/includes';

.cbn-searchresults {
  position: relative;

  &__wrapper {
    position: absolute;

    width: 320px;
    max-height: 200px;
    overflow: auto;
    transition: all ease 0.3s;

    border-top: 1px solid rgba(0, 0, 0, 0.12);

    @mixin themed background, menu, default;
    @mixin themed color, text;

    &::-webkit-scrollbar {
      -webkit-appearance: none;

      width: 8px;
    }

    &::-webkit-scrollbar-track {
      opacity: 0;
    }

    &::-webkit-scrollbar-thumb {
      min-height: 25px;
    }

    &.cbn-theme--light::-webkit-scrollbar-thumb {
      background-color: map(themes, light, menu, hover);
    }

    &.cbn-theme--dark::-webkit-scrollbar-thumb {
      background-color: map(themes, dark, menu, hover);
    }

    &--hidden {
      max-height: 0;
    }
  }

  &__row {
    position: relative;

    display: block;

    padding: 11px 44px;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
      @mixin themedParent background, menu, hover;
    }
  }

  &__label {
    span {
      opacity: 0.6;
    }

    b {
      font-weight: bold;
    }
  }

  .cbn-icon {
    position: absolute;
    left: 10px;
    opacity: 0.6;
  }
}
