@import '../../styles/includes';

.cbn-searchresults {
  position: relative;

  margin-top: 4px;

  &__wrapper {
    position: absolute;
    overflow: hidden;
    width: 320px;
    transition: all ease 0.3s;
    height: 200px;

    &--hidden {
      height: 0;
    }
  }

  &__list {
    max-height: 100%;
    overflow: auto;
    border-top: 1px solid map(themes, light, menu, border);
    padding: 3px 0 4px;
    transition: all ease 0.3s;

    @mixin themed border-color, menu, border;
    @mixin themed background, menu, default;
    @mixin themed color, text;

    &::-webkit-scrollbar {
      -webkit-appearance: none;

      width: 8px;
    }

    &::-webkit-scrollbar-track {
      opacity: 0;
    }

    &::-webkit-scrollbar-thumb {
      min-height: 25px;
    }

    &.cbn-theme--light::-webkit-scrollbar-thumb {
      background-color: map(themes, light, menu, hover);
    }

    &.cbn-theme--dark::-webkit-scrollbar-thumb {
      background-color: map(themes, dark, menu, hover);
    }
  }

  &__row {
    position: relative;

    display: block;

    padding: 8px 20px 12px 44px;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
      @mixin themedParent background, menu, hover;
    }
  }

  &__label {
    b {
      opacity: 0.5;
    }
  }

  .cbn-icon {
    position: absolute;
    left: 10px;
    opacity: 0.6;
  }
}
