@import '../../styles/includes';

.cbn-searchresults {
  position: relative;

  margin-top: 4px;

  &__wrapper {
    position: absolute;
    overflow: hidden;

    width: 320px;
    transition: all ease 0.3s;

    &--hidden {
      height: 0;
    }
  }

  &__list {
    height: 100%;
    overflow: auto;

    padding: 3px 0 4px;
    border-top: 1px solid map(themes, light, menu, border);
    transition: all ease 0.2s;
    box-sizing: border-box;

    @mixin themed border-color, menu, border;
    @mixin themed background, menu, default;
    @mixin themed color, text;
  }

  &__row {
    position: relative;

    display: block;

    padding: 8px 20px 12px 44px;
    text-decoration: none;
    cursor: pointer;

    &--active,
    &:hover,
    &:focus {
      @mixin themedParent background, menu, hover;
    }
  }

  &__label {
    b {
      opacity: 0.5;
    }
  }

  .cbn-icon {
    position: absolute;
    left: 10px;
    opacity: 0.6;
  }
}
