/** Imports **/

@import '../../styles/includes';

/** Variables **/

$size-tab-lineheight: 1.4;
$size-tab-margin: 12px;
$size-tab-padding: 4px;
$size-tab-text-margin: 2px;
$size-tab-margin-small: 10px;
$size-underline-height-hovered: 1px;
$size-underline-height-selected: 2px;
$duration-underline-hovered: 0.5s;

.kui-tabs__tab {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  user-select: none;
  cursor: pointer;

  &::after {
    @mixin themedParent background-color, tabs, selected;

    content: '';
    transform: scaleX(0);

    position: relative;
    top: 1px;

    display: block;
    height: $size-underline-height-hovered;
    transition: transform $duration-underline-hovered;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}

.kui-tabs__list {
  @mixin themedParent border-bottom-color, tabs, border;

  display: flex;

  border-bottom-width: 1px;
  border-bottom-style: solid;

  .kui-tabs__tab {
    margin: 0 $size-tab-margin;
  }

  .kui-tabs__tab:first-child {
    margin-left: 0;
  }

  .kui-tabs__tab:last-child {
    margin-right: 0;
  }
}

.kui-tabs__button {
  @extend %type--title;

  @mixin themedParent color, tabs;

  margin-bottom: $size-tab-text-margin;
  padding: $size-tab-padding 0;
  border: none;
  border-radius: 0;

  font-family: inherit;
  line-height: $size-tab-lineheight;

  color: inherit;
  background: none;
  box-shadow: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    @mixin themedParent color, text;
  }

  &:active {
    @mixin themedParent background-color, tabs, active;
  }
}

.kui-tabs__tab--selected {
  .kui-tabs__button {
    @mixin themedParent color, text;
  }

  &::after {
    @mixin themedParent background-color, tabs, selected;

    transform: scaleX(1);

    height: $size-underline-height-selected;
  }
}

.kui-tabs {
  position: relative;

  &.kui-tabs--small {
    .kui-tabs__tab {
      margin: 0 $size-tab-margin-small;
    }

    .kui-tabs__button {
      @extend %type--subhead-1;
    }
  }
}
