.qb-refresh {
  transition: 0.3s opacity;

  position: absolute;
  right: 10px;
  top: -40px;

  box-sizing: border-box;

  padding: 10px;

  font-weight: bold;
  font-size: 10px;
  line-height: 1;

  border: 1px solid rgb(253, 253, 253);
  outline: none;
  border-radius: 3px;

  background: #0b0b0b;
  color: #c4c4c4;

  cursor: pointer;

  opacity: 0;

  &:active {
    background: #0b0b0b;
  }
}

.qb-editor {
  position: relative;
}
