.cbn-sg-playground {
  position: relative;

  margin: 0 0 200px;

  border-radius: 3px 3px 0;
}

.cbn-sg-playground__preview {
  position: relative;

  margin: 0;
  padding: 0;

  background: rgba(0, 0, 0, 0.06);

  @mixin themed background, bg, default;
}

.cbn-sg-playground__preview > div:first-child {
  position: relative;

  min-height: 100px;
  padding-bottom: 40px;
}

.cbn-sg-playground__preview > div:last-child {
  text-align: center;
}

.cbn-sg-playground__preview--grid {
  .cbn-sg-playground__preview-section {
    &::after {
      position: absolute;
      top: -1px;
      right: 0;
      z-index: 10;

      display: block;
      width: 100%;
      height: 0;
      padding: 10px 0 0 10px;

      color: white;
      background-size: 4px 4px;
      background-color: transparent;

      background-image: linear-gradient(0deg, transparent 75%, rgba(0, 0, 0, 0.5) 75%);

      animation: gridEntrance 0.5s forwards;
      pointer-events: none;
      content: '';
    }

    &.cbn-theme--light::after {
      background-image: linear-gradient(0deg, transparent 75%, rgba(255, 105, 180, 0.5) 75%);
    }

    &.cbn-theme--dark::after {
      background-image: linear-gradient(0deg, transparent 75%, rgba(100, 149, 237, 0.5) 75%);
    }

    &::before {
      position: absolute;
      bottom: -10px;
      right: 0;
      z-index: 11;

      display: block;
      width: 100%;
      height: 50px;
      padding: 0;

      background-color: transparent;

      content: '';
    }

    &.cbn-theme--light::before {
      background-image: linear-gradient(0deg, rgb(240, 241, 243) 20%, transparent 60%);
    }

    &.cbn-theme--dark::before {
      background-image: linear-gradient(0deg, rgb(29, 48, 59) 20%, transparent 60%);
    }
  }
}

@keyframes gridEntrance {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.cbn-sg-playground__preview-section {
  position: relative;

  display: none;
  padding: 60px 0;

  &.cbn-sg-playground__preview-section--show {
    display: block;
  }
}

.cbn-sg-controls {
  margin: 12px 0 0;
}

.cbn-sg-btn {
  padding: 10px;
  border: none;

  color: white;
  background: black;

  outline: none;
  cursor: pointer;
}

.cbn-sg-btn:hover {
  color: white;
  background: rgb(25, 104, 209);
}

.cbn-sg-playground__code {
  max-height: 0;
  padding: 0;

  background: rgb(23, 23, 23) !important;

  overflow: auto;
  transition: max-height 0.4s ease;
}

.cbn-sg-playground__code > div {
  padding: 50px 0;

  opacity: 0;
  transition: opacity 0.4s 0.6s ease;
}

.cbn-sg-playground__code--open {
  max-height: 500px;
}

.cbn-sg-playground__code--open > div {
  opacity: 1;
}

.cbn-sg-playground__code-toggle {
  position: absolute;
  bottom: -26px;
  right: -1px;

  padding: 4px 8px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 0;

  font-size: 14px;

  cursor: pointer;
}

.cbn-sg-playground__events {
  height: 100px;

  background: cornflowerblue;
}

.cbn-sg-playground__event {
  float: left;

  width: 100px;
  height: auto;
  margin: 10px;

  text-align: center;
}

.cbn-sg-playground__event-circle {
  position: relative;

  width: 20px;
  height: 20px;
  margin: 15px auto;
  border-radius: 50%;

  background-color: white;
}

.cbn-sg-playground__event-circle-bg {
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: 1;

  width: 100%;
  height: 100%;
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  opacity: 0;
}

.cbn-sg-playground__event-circle-bg--animate {
  animation: pulseAnimation 2s linear 1;
}

.cbn-sg-playground__event-number {
  font-size: 1.3rem;
  line-height: 1.5;
}

@keyframes pulseAnimation {
  0% {
    transform: scale(0.9);
    opacity: .5;
  }

  40% {
    transform: scale(1.75);
    opacity: .75;
  }

  80% {
    transform: scale(2);
    opacity: .1;
  }

  100% {
    transform: scale(2.1);
    opacity: 0;
  }
}
