/** Imports **/

@import '../../styles/includes';

/** Variables **/

$size-switch-spacing: 14px;

/** Implementation **/

.cbn-switch__input {
  @mixin hidden;
}

.cbn-switch {
  margin-bottom: $size-switch-spacing;

  &:active {
    opacity: 0.7;
  }
}
