$light--hover: rgb(230, 232, 235);
$light--text: rgba(0, 0, 0, 0, 85);

/** Light UI **/
$c-primary-light: rgb(27, 117, 240);
$c-secondary-light: rgb(80, 170, 222);
$c-default-light: rgb(240, 241, 243);

$c-primary-light--hover: rgb(25, 104, 209);
$c-secondary-light--hover: rgb(73, 149, 194);
$c-default-light--hover: rgb(208, 209, 210);

$c-primary-light--focus: rgb(27, 117, 240);
$c-secondary-light--focus: rgb(80, 170, 222);
$c-default-light--focus: rgb(240, 241, 243);

$c-primary-light--active: rgb(58, 137, 242);
$c-secondary-light--active: rgb(141, 199, 224);
$c-default-light--active: rgb(243, 244, 246);

$c-primary-light--disabled: rgb(0, 174, 239);
$c-secondary-light--disabled: rgb(211, 234, 247);
$c-default-light--disabled: rgb(251, 251, 251);

/** Dark UI **/
$c-primary-dark: rgb(27, 117, 240);
$c-secondary-dark: rgb(80, 170, 222);
$c-default-dark: rgb(85, 99, 108);

$c-primary-dark--hover: rgb(25, 104, 209);
$c-secondary-dark--hover: rgb(73, 149, 194);
$c-default-dark--hover: rgb(67, 76, 81);

$c-primary-dark--focus: rgb(27, 117, 240);
$c-secondary-dark--focus: rgb(80, 170, 222);
$c-default-dark--focus: rgb(85, 99, 108);

$c-primary-dark--active: rgb(58, 137, 242);
$c-secondary-dark--active: rgb(141, 199, 224);
$c-default-dark--active: rgb(119, 130, 137);

$c-primary-dark--disabled: rgb(0, 174, 239);
$c-secondary-dark--disabled: rgb(211, 234, 247);
$c-default-dark--disabled: rgb(17, 32, 42);
