/** Imports **/

@import '../../../styles/includes';

/** Variables **/

$default-input-width: 296px;
$offset-input: 12px;

/** Implementation **/

.cbn-input-wrapper {
  width: $default-input-width;
}

.cbn-input {
  @mixin themed background-color, menu;

  display: flex;
  flex-direction: column;

  /** padding top can be overriden if label is generated (see below) **/
  padding: 8px $offset-input $offset-input;

  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;

  outline: none;

  &:hover:not([disabled]) {
    @extend %shadow-light--hover;
  }

  &--disabled {
    background-color: rgba(0, 0, 0, 0.04);

    cursor: not-allowed;
  }

  .cbn-theme--dark & {
    @extend %shadow-dark;

    &:hover {
      @extend %shadow-dark--hover;
    }
  }

  /* <-- VARIANT THREE */
  &.cbn-input--success,
  &.cbn-input--error {
    @mixin themed color, input, status;
  }

  &.cbn-input--success {
    @mixin themed background-color, input, success;
  }

  &.cbn-input--error {
    @mixin themed background-color, input, error;
  }
  /* VARIANT THREE  --> */
}

.cbn-input--focused {
  @extend %shadow-light--active;
}

.cbn-input__field {
  @mixin themedParent background-color, menu;
  @mixin themedParent color, text;

  @extend %type--subhead-2;

  display: flex;

  border: none;
  outline: none;

  font: inherit;

  &,
  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
  }

  &::placeholder {
    @mixin themedParent color, input, placeholder;
  }

  /** more specific selector needs to be stated so the changes apply **/
  .cbn-input.cbn-input--disabled & {
    cursor: not-allowed;

    &::placeholder {
      @mixin themedParent color, input, placeholder;
    }
  }

  .cbn-input--focused &::placeholder {
    @mixin themed color, text, secondary;
  }

  /* <-- VARIANT THREE */
  .cbn-input--success & {
    @mixin themedParent background-color, input, success;
  }

  .cbn-input--error & {
    @mixin themedParent background-color, input, error;
  }
  /* VARIANT THREE  --> */
}

.cbn-input__label {
  @extend %type--body-1;

  @mixin themedParent color, text, secondary;

  display: flex;

  .cbn-input--disabled & {
    @mixin themedParent color, input, placeholder;
  }

  .cbn-input--success & {
    @mixin themedParent color, input, status;
  }

  .cbn-input--error & {
    @mixin themedParent color, input, status;
  }
}

.cbn-input__line {
  display: flex;

  height: 1px;

  /** by default the background color is transparent; when in active/focus it is visible **/
  background-color: transparent;

  pointer-events: none;

  .cbn-input__field:active + & {
    @mixin themedParent background-color, menu, border;
  }

  .cbn-input__field:focus + &,
  .cbn-input__field:active + & {
    @mixin themedParent background-color, menu, border;
  }

  .cbn-input--disabled .cbn-input__field:focus + &,
  .cbn-input--disabled .cbn-input__field:active + & {
    background-color: transparent;
  }

  /*.cbn-input--success &,
  .cbn-input--success .cbn-input__field:focus + &,
  .cbn-input--success .cbn-input__field:active + & {
    @mixin themedParent background-color, input, success;
  }

  .cbn-input--error &,
  .cbn-input--error .cbn-input__field:focus + &,
  .cbn-input--error .cbn-input__field:active + & {
    @mixin themedParent background-color, input, error;
  }*/

  /* <-- VARIANT THREE */
  .cbn-input--success & {
    @mixin themedParent background-color, input, status;
  }

  .cbn-input--error & {
    @mixin themedParent background-color, input, status;
  }
  /* VARIANT THREE  --> */
}

.cbn-input__line--filled {
  @extend %type--subhead-2;

  height: 1px;

  font: inherit;

  overflow: hidden;

  .cbn-input--focused & {
    @mixin themedParent background-color, input, textfilled;
  }

  .cbn-input--success & {
    @mixin themedParent background-color, input, success;
  }

  .cbn-input--error & {
    @mixin themedParent background-color, input, error;
  }

  /** <-- VARIANT THREE - NO BACKGROUND COLOR + COLOURED TEXT **/
  .cbn-input--success & {
    @mixin themedParent background-color, input, status;
  }

  .cbn-input--error & {
    @mixin themedParent background-color, input, status;
  }
  /** VARIANT THREE - NO BACKGROUND COLOR + COLOURED TEXT --> **/
}

/** VARIANT ONE - STATUS BACKGROUND COLOR + WHITE TEXT **/
/*.cbn-input__description {
  @mixin themedParent color, input, status;

  display: flex;

  padding: 4px $offset-input 4px;

  .cbn-input--success + & {
    @mixin themedParent background-color, input, success;
  }

  .cbn-input--error + & {
    @mixin themedParent background-color, input, error;
  }
}*/

/** VARIANT TWO - NO BACKGROUND COLOR + COLOURED TEXT **/
/*.cbn-input__description {
  display: flex;

  padding: 4px $offset-input 4px;

  .cbn-input--success + & {
    @mixin themedParent color, input, success;
  }

  .cbn-input--error + & {
    @mixin themedParent color, input, error;
  }
}*/

/** VARIANT THREE - NO BACKGROUND COLOR + COLOURED TEXT **/
.cbn-input__description {
  display: flex;

  padding: 4px $offset-input 4px;

  .cbn-input--success + & {
    @mixin themedParent color, input, success;
  }

  .cbn-input--error + & {
    @mixin themedParent color, input, error;
  }
}
