/** Imports **/

@import '../../styles/includes';

/** Variables **/

$size-dot-dimension: 20px;
$size-radio-button-spacing: 14px;

/** Implementation **/

.kui-switch-radio__box {
  @mixin themedParent border-color, radiobutton, default;

  position: relative;

  display: inline-block;

  min-width: $size-dot-dimension;
  height: $size-dot-dimension;

  margin-right: $size-radio-button-spacing;

  border: 2px solid;
  border-radius: 50%;
  transition: all 0.3s;

  &::before {
    @mixin themedParent background, radiobutton, default;

    position: absolute;

    top: 50%;
    left: 50%;

    content: ' ';

    width: 0%;
    height: 0%;

    border-radius: 50%;

    opacity: 0;

    transform: translate(-50%, -50%);

    transition: all 0.3s;
  }

  .kui-switch__input:checked + .kui-switch-radio__label & {
    &::before {
      width: 80%;
      height: 80%;

      opacity: 1;
    }
  }

  .kui-switch__input:focus + .kui-switch-radio__label & {
    .kui-theme--light & {
      box-shadow: 0 0 0 3px map(themes, light, radiobutton, focus);
    }

    .kui-theme--dark & {
      box-shadow: 0 0 0 3px map(themes, dark, radiobutton, focus);
    }
  }
}

.kui-switch-radio__label {
  @extend %type--subhead-2;

  @mixin themedParent color, text;

  display: flex;
  flex-direction: row;

  align-items: center;

  user-select: none;
  cursor: pointer;

  .kui-switch-radio--disabled & {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
