@import '../../../styles/includes';

.cbn-menu-option {
  display: flex;
  align-items: center;

  height: $menu-item-height;
  padding: $menu-item-padding;

  @mixin themed color, text;
  @mixin themed background, menu, default;

  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  user-select: none;

  &:hover {
    @mixin themed background, menu, hover;
  }

  &:active {
    background: $c-default-light--focus;
  }

  &.cbn-menu-option--selected,
  &:hover {
    @mixin themed background, active, default;
  }
}

.cbn-menu-option__content {
  position: relative;

  display: flex;
  align-items: center;
  width: 100%;

  text-overflow: ellipsis;

  .cbn-menu-option--icon-left & {
    padding-left: 36px;
  }

  > .cbn-icon {
    position: absolute;
    right: 0;

    margin: $menu-menu-item-padding;

    .cbn-menu-option--icon-left & {
      left: 0;
      right: auto;
    }
  }
}
