@import '../../../styles/includes';

@define-mixin themed $propName, $themeKey {
  .cbn-theme--light & {
    $(propName): map(themes, light, $themeKey);
  }

  .cbn-theme--dark & {
    $(propName): map(themes, dark, $themeKey);
  }
}

.cbn-menu-option {
  display: flex;
  align-items: center;

  height: $menu-item-height;
  padding: $menu-item-padding;
  border-style: solid;
  border-width: 0 1px;
  border-color: rgba(255, 255, 255, 0.2);

  @mixin themed color, text;

  background: white;
  white-space: nowrap;
  overflow: hidden;

  cursor: pointer;

  &:hover {
    background: $c-default-light--hover;

    .cbn-theme--dark & {
      background: $c-menu-bg-dark;
    }
  }

  &:active {
    background: $c-default-light--focus;
  }

  &.cbn-menu-option--selected {
    background: $c-default-light--active;

    &:hover {
      background: $c-default-light--active;
    }
  }
}

.cbn-menu-option__content {
  position: relative;

  display: flex;
  align-items: center;
  width: 100%;

  text-overflow: ellipsis;

  .cbn-menu-option--icon-left & {
    padding-left: 36px;
  }

  > .cbn-icon {
    position: absolute;
    right: 0;

    margin: $menu-menu-item-padding;

    .cbn-menu-option--icon-left & {
      left: 0;
      right: auto;
    }
  }
}
