@import '../../styles/includes';

.modal {
  position: fixed;

  top: 0;
  left: 0;
  z-index: 9999;

  width: 100%;
  height: 100%;
}

.modal__bg {
  position: absolute;

  width: 100%;
  height: 100%;

  @mixin themedParent background, modal, bg;
}

.modal__content {
  position: absolute;

  top: 50%;
  left: 50%;

  max-width: 400px;
  width: 100%;

  @mixin themedParent background, modal, content;

  transform: translate(-50%, -50%);
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;

  padding: 40px;

  text-align: center;
}

.modal__title {
  @extend %type--subhead-1;

  width: 100%;

  margin-bottom: 40px;

  @mixin themedParent color, modal, title;
}

.modal__description {
  margin-bottom: 40px;

  @mixin themedParent color, modal, description;
}

.cbn-icon {
  .modal & {
    position: absolute;

    top: 10px;
    right: 10px;
  }
}
