/** Imports **/

@import './slider-common.css';

/** Variables **/

/** Mixins **/

@define-mixin thumb {
  position: relative;
  pointer-events: all;
}

@define-mixin track {
  pointer-events: all;
}

/** Implementation **/

/** this selector is needed to override the selector for single input
    if it is present on the same page**/
.cbn-slider-multiple .cbn-slider__line {
  .cbn-theme--dark & {
    background: linear-gradient(
      to right,
      map(themes, dark, slider, default) var(--low),
      map(themes, dark, slider, thumbBorder) 0,
      map(themes, dark, slider, thumbBorder) var(--high),
      map(themes, dark, slider, default) 0);
  }

  .cbn-theme--light & {
    background: linear-gradient(
      to right,
      map(themes, light, slider, default) var(--low),
      map(themes, light, slider, thumbBorder) 0,
      map(themes, light, slider, thumbBorder) var(--high),
      map(themes, light, slider, default) 0);
  }
}

.cbn-slider__input {
  &.cbn-slider__input--bottom {
    position: absolute;
  }

  &.cbn-slider__input--top {
    position: relative;
  }
}

.cbn-slider__input--multiple {
  pointer-events: none;
}

.cbn-slider__input--multiple::-webkit-slider-thumb {
  @mixin thumb;
}

.cbn-slider__input--multiple::-moz-range-thumb {
  @mixin thumb;
}

.cbn-slider__input--multiple::-ms-thumb {
  @mixin thumb;
}

/** because the track overlaps, allow only the one on top to listen to all ppointer eventss **/
.cbn-slider__input--top::-webkit-slider-runnable-track {
  @mixin track;
}

.cbn-slider__input--top::-moz-range-track {
  @mixin track;
}

.cbn-slider__input--top::-ms-track {
  @mixin track;
}
