/** Imports **/

@import './slider-common.css';

/** Mixins **/

@define-mixin thumb {
  position: relative;
  pointer-events: all;
}

@define-mixin track {
  pointer-events: all;
}

/** Implementation **/

.cbn-slider__input {
  &.cbn-slider__input--bottom {
    position: absolute;
  }

  &.cbn-slider__input--top {
    position: relative;
  }
}

.cbn-slider__input--multiple {
  pointer-events: none;
}

/** THUMB **/
.cbn-slider__input--multiple::-webkit-slider-thumb {
  @mixin thumb;
}

.cbn-slider__input--multiple::-moz-range-thumb {
  @mixin thumb;
}

.cbn-slider__input--multiple::-ms-thumb {
  @mixin thumb;
}

/** TRACK **/
.cbn-slider__input--top::-webkit-slider-runnable-track {
  @mixin track;
}

.cbn-slider__input--top::-moz-range-track {
  @mixin track;
}

.cbn-slider__input--top::-ms-track {
  @mixin track;
}

/** RENDERED BUT NOT VISIBLE IN VIEWPORT **/
.cbn-slider__hidden {
  position: fixed;
  left: -9999px;

  opacity: 0;

  &--fill {
    height: 1px;

    .cbn-theme--dark & {
      @mixin themedParent background, slider, thumbCenter;
    }

    .cbn-theme--light & {
      @mixin themedParent background, slider, thumbCenter;
    }
  }

  &--background {
    height: 1px;

    .cbn-theme--dark & {
      @mixin themedParent background, slider, default;
    }

    .cbn-theme--light & {
      @mixin themedParent background, slider, default;
    }
  }
}
