/** Imports **/

@import './slider-common.css';

/** Variables **/

/** Mixins **/

@define-mixin thumb {
  position: relative;
  pointer-events: all;
}

@define-mixin track {
  pointer-events: all;
}

/** Implementation **/

.cbn-slider__line-multiple {
  position: absolute;
  top: calc(50% - $track-height - 1px);

  z-index: 10;

  width: 100%;
  height: $track-height;

  background: linear-gradient(
    to right,
    transparent var(--low),
    red 0,
    red var(--high),
    transparent 0)
    no-repeat 0 45% / 100% 40%;

  /*.cbn-theme--dark & {
    background: linear-gradient(
      to right,
      transparent var(--low),
      map(themes, dark, slider, thumbBorder) 0,
      map(themes, dark, slider, thumbBorder) var(--high),
      transparent 0)
      no-repeat 0 45% / 100% 40%;
  }

  .cbn-theme--light & {
    background: linear-gradient(
      to right,
      transparent var(--low),
      map(themes, light, slider, thumbBorder) 0,
      map(themes, light, slider, thumbBorder) var(--high),
      transparent 0)
      no-repeat 0 45% / 100% 40%;
  }*/

}

.cbn-slider__input {
  &.cbn-slider-multiple--bottom {
    position: absolute;
    z-index: 1;
  }

  &.cbn-slider-multiple--top {
    position: relative;
    z-index: 2;
  }
}

.cbn-slider-multiple {
  pointer-events: none;
}

.cbn-slider-multiple::-webkit-slider-thumb {
  @mixin thumb;
}

.cbn-slider-multiple::-moz-range-thumb {
  @mixin thumb;
}

.cbn-slider-multiple::-ms-thumb {
  @mixin thumb;
}

/** because the track overlaps, allow only the one on top to listen to all ppointer eventss **/
.cbn-slider-multiple--top::-webkit-slider-runnable-track {
  @mixin track;
}

.cbn-slider-multiple--top::-moz-range-track {
  @mixin track;
}

.cbn-slider-multiple--top::-ms-track {
  @mixin track;
}
