/** Imports **/

@import '../../../styles/includes';

/** Variables **/

$wrapper-width: 310px;
$input-width: 166px;

$thumb-size: 3px;
$thumb-border-width: 5px;

$track-height: 2px;

:root {
  --low: 0;
  --high: 0;
}

/** Mixins **/

@define-mixin thumb-style {
  @mixin themedParent background, slider, thumbCenter;
  @mixin themedParent border-color, slider, thumbBorder;

  width: $thumb-size;
  height: $thumb-size;
  margin-top: -6px;

  border-width: $thumb-border-width;
  border-style: solid;
  border-radius: 50%;
  box-shadow: none;
}

@define-mixin track-style {
  @mixin themedParent background, slider, default;

  width: 100%;
  height: $track-height;

  border: 0;

  cursor: pointer;
}

/** Implementation **/

.cbn-slider {
  width: $wrapper-width;
}

.cbn-slider__input {
  -webkit-appearance: none;

  width: $input-width;
  height: 24px;
  padding: 0;

  box-shadow: none;

  &:focus,
  &:active {
    outline: none;
  }

  .cbn-theme--dark & {
    background: linear-gradient(to right, transparent var(--low), map(themes, dark, slider, thumbBorder) 0, map(themes, dark, slider, thumbBorder) var(--high), transparent 0) no-repeat 0 45% / 100% 40%;
  }

  .cbn-theme--light & {
    background: linear-gradient(to right, transparent var(--low), map(themes, dark, slider, thumbBorder) 0, map(themes, dark, slider, thumbBorder) var(--high), transparent 0) no-repeat 0 45% / 100% 40%;
  }
}

.cbn-slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;

  @mixin thumb-style;

  box-sizing: content-box;
}

.cbn-slider__input::-moz-range-thumb {
  @mixin thumb-style;
}

.cbn-slider__input::-ms-thumb {
  @mixin thumb-style;
}

.cbn-slider__input::-webkit-slider-runnable-track {
  -webkit-appearance: none;

  @mixin track-style;
}

.cbn-slider__input::-moz-range-track {
  @mixin track-style;
}

.cbn-slider__input::-ms-track {
  /** TODO: IE and MS Edge require a transparent color and border-color on the track,
      or they will show (parts of) the native track design.
      Also, they may need different margins for the thumb than the other browsers.
  **/
  @mixin track-style;

  /** In IE, but not in Edge, the slider as a whole has a padding **/
  padding: 0;

  border-color: transparent;

  color: transparent;
}
