/** Imports **/

@import '../../../styles/includes';

/** Variables **/

$wrapper-width: 310px;
$input-width: 166px;
$input-height: 24px;

$thumb-size: 3px;
$thumb-size--hover: 10px;
$thumb-size--active: 8px;

$thumb-border-width: 5px;
$thumb-border-width--hover: 6px;
$thumb-border-width--active: 8px;

$track-height: 2px;

/** Mixins **/

@define-mixin thumb-style {
  @mixin themedParent background, slider, thumbCenter;
  @mixin themedParent border-color, slider, thumbBorder;

  display: relative;

  width: $thumb-size;
  height: $thumb-size;
  margin-top: calc(-2 * $thumb-size);

  border-width: $thumb-border-width;
  border-style: solid;
  border-radius: 50%;
  box-shadow: none;

  box-sizing: border-box;

  &:hover {
    width: $thumb-size--hover;
    height: $thumb-size--hover;
    margin-top: calc(-1 * $thumb-size--hover);

    border-width: $thumb-border-width--hover;
  }

  &:active {
    width: $thumb-size--active;
    height: $thumb-size--active;
    margin-top: calc(-1.5 * $thumb-size--active);

    border-width: $thumb-border-width--active;
  }
}

@define-mixin track-style {
  display: relative;

  width: 100%;
  height: $track-height;

  border: 0;

  background: transparent;

  cursor: pointer;
  box-sizing: border-box;
}

/** Implementation **/

.cbn-slider__box {
  position: relative;

  width: $input-width;
}

.cbn-slider__line {
  position: absolute;
  top: calc(50% - $track-height - 1px);

  width: 100%;
  height: $track-height;

  box-sizing: border-box;
}

.cbn-slider {
  width: $wrapper-width;
}

.cbn-slider__input {
  -webkit-appearance: none;

  position: relative;

  width: $input-width;
  height: $input-height;
  margin: 0;
  padding: 0;

  background: transparent;

  box-shadow: none;
  box-sizing: content-box;

  &:focus,
  &:active {
    outline: none;
  }
}

.cbn-slider__ticks {
  display: flex;
  justify-content: space-between;

  width: $input-width;
}

.cbn-slider__tick {
  display: inline-block;

  text-align: center;
}

/** THUMB **/
.cbn-slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;

  @mixin thumb-style;

  box-sizing: content-box;
}

.cbn-slider__input::-moz-range-thumb {
  @mixin thumb-style;
}

.cbn-slider__input::-ms-thumb {
  @mixin thumb-style;
}

/** TRACK **/
.cbn-slider__input::-webkit-slider-runnable-track {
  -webkit-appearance: none;

  @mixin track-style;
}

.cbn-slider__input::-moz-range-track {
  @mixin track-style;
}

.cbn-slider__input::-ms-track {
  @mixin track-style;

  /** In IE, but not in Edge, the slider as a whole has a padding **/
  margin: 0;
  padding: 0;

  /** IE and MS Edge require a transparent color and border-color on the track,
      or they will show (parts of) the native track design. **/
  border-color: transparent;

  color: transparent;
}

/** RENDERED BUT NOT VISIBLE IN VIEWPORT **/
.cbn-slider__hidden {
  position: fixed;
  left: -9999px;

  opacity: 0;

  &--fill {
    height: 1px;

    .cbn-theme--dark & {
      @mixin themedParent background, slider, thumbCenter;
    }

    .cbn-theme--light & {
      @mixin themedParent background, slider, thumbCenter;
    }
  }

  &--background {
    height: 1px;

    .cbn-theme--dark & {
      @mixin themedParent background, slider, default;
    }

    .cbn-theme--light & {
      @mixin themedParent background, slider, default;
    }
  }
}
