.cbn-menu-item {
  white-space: nowrap;
  overflow: hidden;
}

.cbn-menu-item__content {
  position: relative;

  display: flex;
  align-items: center;
  width: 100%;

  text-overflow: ellipsis;

  .cbn-menu-item--icon-left & {
    padding-left: 36px;
  }

  > .cbn-icon {
    position: absolute;
    right: 0;
    margin: $item-padding;

    .cbn-menu-item--icon-left & {
      right: auto;
      left: 0;
    }
  }
}
