@import '../../styles/includes';

/** Variables */

/* the height of each item/row */
$menu-item-height: 40px;

/* padding at the top and bottom of each group of items */
$menu-group-padding: 4px;

/* the padding of each item (either side of the text ) */
$menu-item-padding: 12px;

.cbn-menu-option {
  display: flex;
  align-items: center;
  box-sizing: border-box;

  height: $menu-item-height;
  padding: 0 $menu-item-padding;

  @mixin themed color, text;
  @mixin themed background, menu, default;

  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  outline: none;

  &.cbn-menu-option--selected {
    @mixin themedParent background, menu, selected;
  }

  &.cbn-menu-option--focused,
  &:focus,
  &:hover {
    @mixin themedParent background, menu, hover;
  }

  &:active {
    @mixin themedParent background, menu, active;
    @mixin themedParent color, menu, activeColor;
  }
}

.cbn-menu-option__content {
  position: relative;

  display: flex;
  align-items: center;
  width: 100%;

  text-overflow: ellipsis;

  @extend %type--subhead-2;

  line-height: 1.25;

  .cbn-menu-option--icon-left & {
    padding-left: calc($size-icon-base + $menu-item-padding);
  }

  .cbn-menu-option--icon-right & {
    padding-right: calc($size-icon-base + $menu-item-padding);
  }

  > .cbn-icon {
    position: absolute;
    right: 0;

    margin: 0 $menu-item-padding;

    opacity: 0.5;

    .cbn-menu-option--icon-left & {
      left: 0;
      right: auto;
    }
  }
}
