/** Imports **/

@import '../../styles/includes';

/** Variables **/

$size-dot-dimension: 20px;
$size-radio-button-spacing: 14px;
$size-checkmark: 24px;

/** Implementation **/

.kui-switch-checkbox__box {
  @mixin themedParent border-color, radiobutton;

  position: relative;

  display: inline-block;

  width: $size-dot-dimension;
  height: $size-dot-dimension;

  margin-right: $size-radio-button-spacing;

  border: 2px solid;
  outline: 3px solid transparent;
  transition: 0.2s all;

  .kui-switch__input:checked + .kui-switch-checkbox__label & {
    border-color: transparent;
    opacity: 1;
  }

  .kui-switch__input:focus + .kui-switch-checkbox__label & {
    @mixin themedParent outline-color, radiobutton, focus;
  }
}

.kui-switch-checkbox__inner {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 1px;
  height: 1px;

  transition: 0.2s all;
  transform: translate(-50%, -50%);

  .kui-switch__input:checked + .kui-switch-checkbox__label & {
    width: $size-checkmark;
    height: $size-checkmark;

    transition: 0.2s all;
  }
}

.kui-switch-checkbox__innerfill {
  .kui-switch__input:checked + .kui-switch-checkbox__label & {
    @mixin themedParent fill, radiobutton;
  }
}

.kui-switch-checkbox__label {
  @extend %type--subhead-2;

  @mixin themedParent color, text;

  position: relative;

  display: flex;
  flex-direction: row;

  align-items: center;

  user-select: none;
  cursor: pointer;

  .kui-switch-checkbox--disabled & {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
