$size: 80px;

.kui-sg-playground__events {
  position: absolute;
  top: 0;
  right: 0;

  margin-right: 30px;
}

.kui-sg-playground__event-wrapper {
  float: right;

  width: $size;
  height: $size;
}
