.qb-swatch {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  text-align: center;

  &.qb-swatch--label-top {
    flex-direction: column-reverse;
  }

  &.qb-swatch--label-left {
    flex-direction: row;
    align-items: center;
  }

  &.qb-swatch--label-right {
    flex-direction: row-reverse;
    align-items: center;
  }
}

.qb-swatch__label {
  display: block;

  font-size: 16px;

  text-align: center;
}
