/* Family */
%type--family {
  font-family: 'Titillium Web', sans-serif;
}

/* Weights */
%type--regular {
  font-weight: 400;
}

%type--semibold {
  font-weight: 600;
}

/* Fonts */
%type--display-1 {
  font-size: 4.8em;
  line-height: 1.4;
  letter-spacing: -0.5px;
}

%type--display-2 {
  font-size: 4em;
  line-height: 1.4;
  letter-spacing: -0.3px;
}

%type--display-3 {
  font-size: 3.4em;
  line-height: 1.4;
  letter-spacing: -0.1px;
}

%type--headline {
  font-size: 2.4em;
  line-height: 1.4;
  letter-spacing: -0.1px;
}

%type--title {
  font-size: 2em;
  line-height: 1.4;
}

%type--subhead-1 {
  font-size: 1.8em;
  line-height: 1.4;
}

%type--subhead-2 {
  font-size: 1.6em;
  line-height: 1.3;
  letter-spacing: 0.1px;
}

%type--body-1 {
  font-size: 1.4em;
  line-height: 1.4;
  letter-spacing: 0.1px;
}

%type--body-2 {
  font-size: 1.3em;
  line-height: 1.5;
  letter-spacing: 0.1px;
}

%type--tiny {
  font-size: 1em;
  line-height: 1.4;
  letter-spacing: 0.1px;
}

/* Elements */

%base {
  -webkit-font-smoothing: antialiased;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.1px;
}

%label {
  display: inline-block;
  margin: 0;
  padding: 0;

  font-size: 1.3em;
  letter-spacing: 0.1px;
  line-height: 1.4;
}

%a {
  color: $color-link;
  text-decoration: none;
  cursor: pointer;

  &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }
}
