
.cbn-sg-playground {
  position: relative;
  border-radius: 3px 3px 0;
  margin: 0 0 200px;
}

.cbn-sg-playground__preview {
  padding: 40px 0 0;
  margin: 0;
  background: black;
  position: relative;
}

.cbn-sg-playground__preview > div:first-child {
  min-height: 100px;
  position: relative;
  padding-bottom: 40px;
}

.cbn-sg-playground__preview > div:last-child {
  text-align: center;
}

.cbn-sg-playground__preview--grid {
  > div:first-child {
    &::after {
      content: '4px grid';
      padding: 10px 0 0 10px;
      color: white;
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: -1px;
      right: 0;
      background-size: 4px 4px;
      background-color: transparent;
      background-image: linear-gradient(0deg, transparent 75%, rgba(255, 105, 180, 0.5) 75%);
    }
  }
}

.cbn-sg-controls {
  margin: 12px 0 0;
}

.cbn-sg-btn {
  background: black;
  color: white;
  border: 4px solid black;
  outline: none;
  padding: 10px;
  cursor: pointer;
}

.cbn-sg-btn:hover {
  border-bottom-color: white;
}

.cbn-sg-playground__code {
  background: #171717 !important;
  max-height: 0;
  overflow: auto;
  padding: 0;
  transition: max-height 0.4s ease;
}

.cbn-sg-playground__code > div {
  padding: 50px 0;
  opacity: 0;
  transition: opacity 0.4s 0.6s ease;
}

.cbn-sg-playground__code--open {
  max-height: 500px;
}

.cbn-sg-playground__code--open > div {
  opacity: 1;
}

.cbn-sg-playground__code-toggle {
  position: absolute;
  right: -1px;
  bottom: -26px;
  cursor: pointer;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 0;
  padding: 4px 8px;
  font-size: 14px;
}
