/** Imports */

@import '../../styles/includes';

/** Variables */

$size-padding: 4px 8px;

/** Implementation */

.cbn-tooltip {
  @mixin themed color, tooltip, text;
  @mixin themed background, tooltip;

  @extend %type--body-2;

  display: inline-block;

  padding: $size-padding;

  font-weight: 600;

  text-overflow: ellipsis;
  overflow: hidden;

  transition: opacity 0.3s;
}

.cbn-tooltip--fixed {
  position: fixed;
}

.cbn-tooltip__header {
  display: block;
}

.cbn-tooltip-trigger {
  display: inline-block;
}

/** Directions */

.cbn-tooltip--top {
  transform: translate(0, -100%);
}

.cbn-tooltip--bottom {
  transform: translate(0, 0);
}

.cbn-tooltip--left {
  transform: translate(-100%, 0);
}

.cbn-tooltip--right {
  transform: translate(0, 0);
}
