/** Imports **/

@import '../../styles/includes';

/** Variables **/

$size-toggle-lineheight: 1.25;
$size-toggle-margin: 12px;
$size-toggle-padding: 4px;
$size-toggle-text-margin: 2px;
$size-toggle-margin-small: 10px;
$size-underline-height: 2px;
$size-separator-margin: 0 8px;
$size-separator-rotation: -45deg;
$duration-underline-hovered: 0.5s;
$duration-separator-switch: 0.5s;

.cbn-toggle {
  display: flex;
  justify-content: space-between;

  input {
    display: none;
  }
}

.cbn-toggle__label {
  @extend %type--subhead-2;
  @extend %type--regular;

  @mixin themedParent color, toggle;

  margin-bottom: $size-toggle-text-margin;
  padding: $size-toggle-padding 0;

  line-height: $size-toggle-lineheight;

  &.cbn-toggle--bold {
    @extend %type--semibold;
  }
}

.cbn-toggle__switch {
  @mixin themedParent color, toggle;

  display: flex;
}

.cbn-toggle__button {
  cursor: pointer;

  &:hover {
    .cbn-toggle__underline {
      transform: scaleX(1);
    }
  }

  &:active {
    .cbn-toggle__text {
      @mixin themedParent background-color, toggle, active;
    }
  }

  .cbn-toggle__underline {
    @mixin themedParent background-color, toggle, underline;

    transform: scaleX(0);

    position: relative;
    top: 1px;

    height: $size-underline-height;
    transition: transform $duration-underline-hovered;
  }

  &.cbn-toggle--selected {
    .cbn-toggle__text {
      @mixin themedParent color, text;
    }

    .cbn-toggle__underline {
      transform: scaleX(1);

      @mixin themedParent background-color, toggle;

      height: $size-underline-height;
    }
  }
}

.cbn-toggle__text,
.cbn-toggle__separator {
  @extend %type--semibold;

  @mixin themedParent color, toggle, disabled;

  margin-bottom: $size-toggle-text-margin;
  padding: $size-toggle-padding 0;
}

.cbn-toggle__separator {
  transition: $duration-separator-switch;

  margin: $size-separator-margin;

  &.cbn-toggle__separator--right {
    transform: rotate($size-separator-rotation);
  }
}
