/** Imports **/

@import '../../styles/includes';

/** Variables **/

$size-toggle-lineheight: 1.25;
$size-toggle-margin: 12px;
$size-toggle-padding: 4px;
$size-toggle-text-margin: 2px;
$size-toggle-margin-small: 10px;
$size-underline-height: 2px;
$size-separator-margin: 0 8px;
$size-separator-rotation: -45deg;
$duration-underline-hovered: 0.5s;
$duration-separator-switch: 0.5s;
$duration-switch-hover: 0.1s;

.cbn-toggle {
  display: flex;
  padding-top: $size-toggle-padding;
  justify-content: space-between;

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;

    .cbn-switch {
      pointer-events: none;
    }
  }

  .cbn-switch {
    margin: 0;
  }
}

.cbn-toggle__label {
  @extend %type--subhead-2;
  @extend %type--regular;

  @mixin themedParent color, toggle;

  margin: 0 0 $size-toggle-text-margin;

  line-height: $size-toggle-lineheight;

  &.cbn-toggle--bold {
    @extend %type--semibold;
  }
}

.cbn-toggle__switch {
  @mixin themedParent color, toggle;

  display: flex;
  cursor: pointer;
  transition: $duration-switch-hover;
  outline: 10px solid transparent;

  .cbn-switch__input:active + &,
  .cbn-switch__input:focus + & {
    @mixin themedParent outline-color, toggle, focus;
    @mixin themedParent background-color, toggle, focus;
  }

  &:hover {
    .cbn-toggle__text {
      @mixin themedParent color, toggle, hover;
    }
  }
}

.cbn-toggle__button {
  &::after {
    @mixin themedParent background-color, toggle, underline;

    transform: scaleX(0);

    position: relative;
    top: 1px;

    display: block;
    content: '';

    height: $size-underline-height;
    transition: transform $duration-underline-hovered;
  }

  &.cbn-toggle--selected {
    .cbn-toggle__text {
      @mixin themedParent color, text;
    }

    &::after {
      transform: scaleX(1);

      @mixin themedParent background-color, toggle;

      height: $size-underline-height;
    }
  }
}

.cbn-toggle__text,
.cbn-toggle__separator {
  @extend %type--subhead-2;
  @extend %type--semibold;

  @mixin themedParent color, toggle, disabled;

  margin-bottom: $size-toggle-text-margin;
  padding-bottom: $size-toggle-padding;
}

.cbn-toggle__text {
  transition: color $duration-switch-hover;
}

.cbn-toggle__separator {
  transition: $duration-separator-switch;

  margin: $size-separator-margin;

  &.cbn-toggle__separator--right {
    transform: rotate($size-separator-rotation);
  }
}
