.cbn-searchbar {
  position: relative;

  display: inline-block;
}

.cbn-input-field__text {
  .cbn-searchbar & {
    padding-left: 44px;
    padding-right: 44px;
  }
}

.cbn-icon--cut {
  right: 10px;

  width: 24px;
  height: 24px;
}

.cbn-icon--search {
  left: 12px;

  width: 24px;
  height: 24px;
}

.cbn-icon {
  .cbn-searchbar & {
    position: absolute;

    top: 50%;

    z-index: 1;

    transform: translate(0, -50%);
  }
}
