/** Imports **/

@import '../../styles/includes';

/** Variables **/

$size-icon: 24px;
$size-input-offset: 44px;
$size-pos-base: 10px;

/** Implementation **/

.kui-searchbar {
  position: relative;

  display: inline-block;
}

.kui-input {
  .kui-searchbar & {
    padding-left: $size-input-offset;
  }
}

.kui-icon {
  transition: 0.3s opacity;

  .kui-searchbar & {
    position: absolute;
    top: 50%;
    z-index: 1;

    opacity: 0.3;

    transform: translate(0, -50%);

    svg {
      @mixin themedParent fill, search, icon;
    }
  }

  .kui-searchbar--focused & {
    opacity: 1;
  }
}

.kui-searchbar__iconwrapper {
  transition: 0.3s opacity;

  .kui-icon {
    top: calc($size-pos-base * 2);
    left: calc($size-icon / 2);

    width: $size-icon;
    height: $size-icon;
  }
}

.kui-input__field {
  .kui-searchbar & {
    max-width: calc(100% - $size-icon);
  }
}

.kui-input__line--filled {
  .kui-searchbar & {
    max-width: calc(100% - $size-icon);
  }
}

.kui-icon--close {
  .kui-searchbar & {
    right: $size-pos-base;

    width: $size-icon;
    height: $size-icon;
  }
}

.kui-searchbar__label {
  @extend %hidden;
}
