/**
 * Hide an element visually while making it usable by keyboards and screen-readers
 */
@define-mixin hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
