.cbn-sg-body {
  color: black;
}

.cbn-sg-gutter {
  margin: 0 auto;
  max-width: 1200px;
}

.cbn-sg-root {
  background: white;
  font-size: 16px;
  color: black;
}

.cbn-sg-content {
  padding: 0;
  margin: 0 auto;
  background: white;
}

.cbn-sg__header {
  padding: 0 0 50px;
}

.cbn-sg__props {
  padding: 0 0 60px;
}

.cbn-sg-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 239px;
  overflow: scroll;
}

.cbn-sg__pathLine {
  color: white;
  background: black;
  padding: 20px;
  margin: 10px 0;
}

.cbn-sg-components {
  overflow: auto;/* to prevent the pane from growing out of the screen */
  background: white;
}

.cbn-sg-header {
  background: rgba(239, 239, 239, 1);
  padding: 100px 0 40px;
}

.cbn-sg-header > div {
  max-width: 1239px;
  margin: 0 auto;
}

.CodeMirror-lines {
  line-height: 20px;
  font-size: 16px;
}

.cm-s-material.CodeMirror {
  background-color: #171717 !important;
}

.cbn-sg__props .rsg--common__font {
  font-family: 'Titillium Web', sans-serif;
}

.cbn-sg__props .rsg--Markdown__pre {
  font-family: 'Source Code Pro', monospace;
  padding: 20px;
  font-size: 18px;
  margin-bottom: 20px;
}

.cbn-sg__props .rsg--Props__tableBody > tr:nth-child(odd) {
  background: #f7f7fb;
}

.cbn-sg__props .rsg--Props--cell {
  min-width: 110px;
  padding-left: 4px;
}

.cbn-sg__props .rsg--Props--name {
  color: cornflowerblue;
}

.cbn-sg__props .rsg--Props--type {
  color: hotpink;
}
