$size-expandable-panel-padding: 22px;
$size-arrow: 16px;
$size-arrow-pos-right: 35px;

.qb-expandable-panel {
  position: relative;

  border-bottom: 1px solid rgb(224, 224, 224);

  &--closed {
    height: 0;

    overflow: hidden;
  }
}

.qb-expandable-panel__container {
  padding: $size-expandable-panel-padding;
  border-top: 1px solid;
  border-color: inherit;
}

.qb-expandable-panel__arrow {
  .qb-expandable-panel--open & {
    position: absolute;
    top: calc(-1 * $size-arrow / 2);
    right: $size-arrow-pos-right;

    z-index: 1;

    width: $size-arrow;
    height: $size-arrow;

    border: 1px solid inherit;
    border-width: 1px 0 0;
    transform: rotate(45deg);
  }
}
