/** Imports **/

@import './slider-common.css';

/** Mixins **/

@define-mixin thumb {
  position: relative;
  pointer-events: all;
}

/** Implementation **/

.kui-slider__wrapper--multiple {
  flex-direction: column;
}

.kui-slider__input {
  &.kui-slider__input--min {
    position: absolute;
  }

  &.kui-slider__input--max {
    position: relative;
  }
}

.kui-slider__input--multiple {
  pointer-events: none;
}

.kui-slider__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.kui-slider__number-input.kui-slider__number-input--min .kui-input-wrapper {
  margin: 0 $label-number-margin 0 0;
}

.kui-slider__label--multiple {
  @extend %type--subhead-2;

  margin: 0 0 $label-number-margin;

  font-weight: bold;
}

/** THUMB **/
.kui-slider__input--multiple::-webkit-slider-thumb {
  @mixin thumb;
}

.kui-slider__input--multiple::-moz-range-thumb {
  @mixin thumb;
}

.kui-slider__input--multiple::-ms-thumb {
  @mixin thumb;
}

/** MAX THUMB - DISABLED
    maximum is disabled when both thumbs are at maximum value --
    the minimum has to change first and it is below the maximum, so this allows to move only the min thumb **/
.kui-slider__input--max-disabled::-webkit-slider-thumb {
  pointer-events: none;
}

.kui-slider__input--max-disabled::-moz-range-thumb {
  pointer-events: none;
}

.kui-slider__input--max-disabled::-ms-thumb {
  pointer-events: none;
}

/** TRACK **/
.kui-slider__input--max::-webkit-slider-runnable-track {
  pointer-events: all;
}

.kui-slider__input--max::-moz-range-track {
  pointer-events: all;
}

.kui-slider__input--max::-ms-track {
  pointer-events: all;
}
