/** Imports **/

@import '../../styles/includes';

/** Variables **/

$wrapper-width: 310px;
$wrapper-height: 50px;

$range-input-width: 174px;
$range-input-height: 24px;

$thumb-size: 4px;
$thumb-border-width: 5px;
$thumb-width: calc($thumb-size + $thumb-border-width / 2);

$track-height: 2px;

$tick-number-width: 24px;
$tick-number-top: 34px;
$tick-symbol-top: 8px;

$number-input-width: 32px;
$number-input-height: 24px;

$label-number-margin: 18px;
$label-single-width: 73px;

$hidden-elements-height: 1px;

/** Mixins **/

@define-mixin thumb-style {
  @mixin themedParent background, slider, thumbCenter;
  @mixin themedParent border-color, slider, thumbBorder;

  display: relative;

  width: $thumb-size;
  height: $thumb-size;
  margin-top: calc(-2 * $thumb-size);

  border-width: $thumb-border-width;
  border-style: solid;
  border-radius: 50%;
  box-shadow: none;

  box-sizing: border-box;
  transition:
    transform 0.1s ease,
    box-shadow 0.2s ease;

  &:hover {
    transform: scale(1.5);
  }
}

@define-mixin thumb-focus-style {
  .cbn-theme--light & {
    box-shadow: 0 0 0 3px map(themes, light, slider, focus);
  }

  .cbn-theme--dark & {
    box-shadow: 0 0 0 3px map(themes, dark, slider, focus);
  }
}

@define-mixin track-style {
  display: relative;

  width: 100%;
  height: $track-height;

  border: 0;

  background: transparent;

  cursor: pointer;
  box-sizing: border-box;
}

/** Implementation **/

.cbn-slider {
  display: flex;

  width: $wrapper-width;
}

.cbn-slider__wrapper {
  display: flex;
}

.cbn-slider__controls {
  display: flex;

  /** set the correct height of the controls to include the height of the ticks **/
  height: $wrapper-height;
}

.cbn-slider__range {
  position: relative;

  width: $range-input-width;
  height: $range-input-height;
}

/** SLIDER LABEL **/
.cbn-slider__label {
  @mixin themedParent color, slider, label;
}

.cbn-slider__label--single {
  @extend %type--body-1;

  width: $label-single-width;
  margin: 0 $label-number-margin 0 0;
}

/** SLIDER NUMBER INPUT **/
.cbn-slider__number-input {
  & .cbn-input {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;

    background: transparent;

    &:hover,
    &:active {
      box-shadow: none;
    }
  }

  & .cbn-input__field {
    @extend %type--body-1;

    background: transparent;
  }

  & .cbn-input__line {
    @mixin themedParent background, slider, numberInputLine;
  }

  & .cbn-input-wrapper {
    width: $number-input-width;
    margin: 0 0 0 $label-number-margin;
    padding: 0;
  }
}

/** SLIDER LINE **/
.cbn-slider__line {
  position: absolute;
  top: calc(50% - $thumb-width / 2);

  /** slider's 0% will appear to be in thumb's center **/
  left: $thumb-width;

  /** slider's 100% will appear to be in thumb's center **/
  width: calc(100% - $thumb-width * 2);
  height: $track-height;

  box-sizing: border-box;
}

/** SLIDER TICKS **/
.cbn-slider__ticks {
  position: absolute;

  width: 100%;
  height: $wrapper-height;
}

.cbn-slider__tick-number-group,
.cbn-slider__tick-symbol-group {
  position: absolute;

  display: flex;
  justify-content: space-between;

  width: 100%;
  height: $wrapper-height;
}

.cbn-slider__tick-number {
  @mixin themedParent color, slider, tickNumber;

  @extend %type--body-1;

  position: absolute;
  top: $tick-number-top;

  width: $tick-number-width;
  margin: 0;
  padding: 0;

  text-align: center;
}

.cbn-slider__tick-number--min {
  margin-left: $thumb-width;
}

.cbn-slider__tick-number--max {
  margin-left: -$thumb-width;
}

.cbn-slider__tick-symbol {
  position: relative;
  top: $tick-symbol-top;

  width: calc($track-height * 2);
  min-height: calc($track-height * 2);
  height: calc($track-height * 2);
  margin: 0;
  padding: 0;
  border-radius: 50%;

  @mixin themedParent background, slider, default;
}

.cbn-slider__tick-symbol--range {
  @mixin themedParent background, slider, thumbBorder;
}

.cbn-slider__tick-symbol--min {
  transform: translateX(calc(-50% + $thumb-width));
}

.cbn-slider__tick-symbol--max {
  transform: translateX(calc(50% - $thumb-width));
}

/** SLIDER INPUT RANGE **/
.cbn-slider__input {
  -webkit-appearance: none;

  position: relative;

  width: 100%;
  height: $range-input-height;
  margin: 0;
  padding: 0;

  background: transparent;

  box-shadow: none;
  box-sizing: content-box;

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;

    &::-webkit-slider-thumb {
      @mixin thumb-focus-style;
    }

    &::-moz-range-thumb {
      @mixin thumb-focus-style;
    }

    &::-ms-thumb {
      @mixin thumb-focus-style;
    }
  }

  /** THUMB **/
  &::-webkit-slider-thumb {
    -webkit-appearance: none;

    @mixin thumb-style;

    box-sizing: content-box;
  }

  &::-moz-range-thumb {
    @mixin thumb-style;
  }

  &::-ms-thumb {
    @mixin thumb-style;
  }

  /** TRACK **/
  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;

    @mixin track-style;
  }

  &::-moz-range-track {
    @mixin track-style;
  }

  &::-ms-track {
    @mixin track-style;

    /** In IE, but not in Edge, the slider as a whole has a padding **/
    margin: 0;
    padding: 0;

    /** IE and MS Edge require a transparent color and border-color on the track,
        or they will show (parts of) the native track design. **/
    border-color: transparent;

    color: transparent;
  }
}

/** RENDERED BUT NOT VISIBLE IN VIEWPORT **/
.cbn-slider__hidden {
  position: fixed;
  left: -9999px;

  opacity: 0;
}

.cbn-slider__hidden--fill {
  height: $hidden-elements-height;

  @mixin themed background, slider, thumbBorder;
}

.cbn-slider__hidden--background {
  height: $hidden-elements-height;

  @mixin themed background, slider, default;
}

.cbn-slider__hidden--slider-line {
  width: $range-input-width;
}

.cbn-slider__hidden--tick-number {
  width: $tick-number-width;
}
